*,*::after,*::before{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}

.square{
  width: 25%;
  height: 25%;
  background-color: #8e44ad;
  transform-origin: center;
  animation: shapeshifter 2s var(--delay) infinite;
}

@keyframes shapeshifter {
  0%,100%{
    transform: scale(0);
    background-color: #8e44ad;
  }
  50%{
    transform: scale(1);
  }
}

.section1{
  --delay:0.1s;
}
.section2{
  --delay:0.2s;
}
.section3{
  --delay:0.3s;
}
.section4{
  --delay:0.4s;
}
.section5{
  --delay:0.5s;
}
.section6{
  --delay:0.6s;
}
.section7{
  --delay:0.7s;
}

